<div class="container">
        
    <div class="list-container">
      <div class="todo-container column-container">
        <div class="list"
             cdkDropList
             #writerList="cdkDropList"
             [cdkDropListData]="writer"
             [cdkDropListConnectedTo]="[ReaderList, adminList]"
             (cdkDropListDropped)="onDrop($event)">
          <h2>Író és olvasó jogosultság</h2>
          <mat-card *ngFor="let item of writer" cdkDrag>
            <mat-card-header>
              <mat-card-title>{{item.name}}</mat-card-title>
              <!--<mat-card-subtitle>{{todo.category}}</mat-card-subtitle>-->
            </mat-card-header>
          </mat-card>
        </div>
      </div>
  
      <div class="done-container column-container">
        <div class="list"
             cdkDropList
             #ReaderList="cdkDropList"
             [cdkDropListData]="reader"
             [cdkDropListConnectedTo]="[writerList, adminList, unassignedList]"
             (cdkDropListDropped)="onDrop($event)">
          <h2>Olvasás jogosultság</h2>
          <mat-card *ngFor="let item of reader" cdkDrag>
            <mat-card-header>
              <mat-card-title>{{item.name}}</mat-card-title>
              <!--<mat-card-subtitle>{{item.category}}</mat-card-subtitle>-->
            </mat-card-header>
          </mat-card>
        </div>
      </div>
  
      <div class="done-container column-container">
        <div class="list" 
             cdkDropList
             #adminList="cdkDropList"
             [cdkDropListData]="admin"
             [cdkDropListConnectedTo]="[writerList, ReaderList, unassignedList]"
             (cdkDropListDropped)="onDrop($event)">
          <h2>Admin jogosultság</h2>
          <mat-card *ngFor="let ad of admin" cdkDrag>
            <mat-card-header>
              <mat-card-title>{{ad.name}}</mat-card-title>
              <!--<mat-card-subtitle>{{ad.category}}</mat-card-subtitle>-->
            </mat-card-header>
          </mat-card>
        </div>
      </div>

      <div class="done-container column-container">
        <div class="list"
             cdkDropList
             #unassignedList="cdkDropList"
             [cdkDropListData]="none"
             [cdkDropListConnectedTo]="[writerList, ReaderList, adminList]"
             (cdkDropListDropped)="onDrop($event)">
          <h2>Nincs jogosultsága</h2>
          <mat-card *ngFor="let item of none" cdkDrag>
            <mat-card-header>
              <mat-card-title>{{item.name}}</mat-card-title>
              <!--<mat-card-subtitle>{{item.role}}</mat-card-subtitle>-->
            </mat-card-header>
          </mat-card>
        </div>
      </div>
  
    </div>
  </div>
  