<div class="card">
  <div class="card-body">
  <form>
      <div class="form-group">
          <label for="email">Felhasználó email címe</label>
          <input type="text" class="form-control" id="email"  placeholder="@tranzorg.hu" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}"> 
      </div>
      <div class="form-group">
        <label for="password">Felhasználó email címe</label>
        <input type="password" class="form-control" id="password"  placeholder="@tranzorg.hu" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}"> 
    </div>
  </form>

  <button type="submit" class="btn btn-primary" (click)="onRegister()">Küldés</button>
  <ngb-alert  *ngIf="success" [type]="'primary'" (close)="success = false" [dismissible]="true">
    <strong>Adatok sikeresen elküldve!</strong> 
  </ngb-alert>

    </div>  
</div>