

<div class="topnav">
  <div *ngIf="aSfAuth.isLogged" routerLinkActive="active asd" [routerLinkActiveOptions]="{exact: true}">
    <a   routerLink='/home' routerLinkActive="active">Google Térkép</a>
  </div>
  <div  *ngIf="aSfAuth.isLogged" routerLinkActive="active asd" [routerLinkActiveOptions]="{exact: true}">
    <a   routerLink='/addData' routerLinkActive="active">Adat hozzáadása (Test)</a>
  </div>
  <div  *ngIf="!aSfAuth.isLogged" routerLinkActive="active asd" [routerLinkActiveOptions]="{exact: true}">
    <a   routerLink='/login' routerLinkActive="active">Bejelentkezés</a>
  </div>
  <div  *ngIf="aSfAuth.isLogged" routerLinkActive="active asd" [routerLinkActiveOptions]="{exact: true}">
    <a   routerLink='/Users' routerLinkActive="active">Felhasználók</a>
  </div>
  <div  *ngIf="aSfAuth.isLogged" routerLinkActive="active asd" [routerLinkActiveOptions]="{exact: true}">
    <a   (click)="onLogut()">Kijelentkezés</a>
  </div>
</div>

<nav id="sidebar">
  <div *ngIf="deviceData && aSfAuth.isLogged" class="dataBar">
  <div *ngFor="let data of deviceData" >
    <h5  (click)="getKey(data.key)" >{{data.key}}</h5> 
  </div>
</div>
</nav>
<div class="list-unstyled components nav navbar-nav item">
  <div class="main">
    <router-outlet></router-outlet>
  </div>

</div>

        
 