  <!-- <div class="map-container">
        <agm-map   [latitude]="latitude"  [longitude]="longitude"> 

                <agm-marker [style]='blue' [latitude]="latitude" [longitude]="longitude" [label]="'M'" >
                <agm-info-window [disableAutoPan]="false">
                    Hi, this is the content of the <strong>info window</strong>
                </agm-info-window>
                </agm-marker>
            
        </agm-map>
    </div>-->

    <div class="container2">
        <div class="row">
            <agm-map  [latitude]="latitude"  [longitude]="longitude"> 

                <agm-marker [style]='blue' [latitude]="latitude" [longitude]="longitude" [label]="'M'" >
                <agm-info-window [disableAutoPan]="false">
                    Hi, this is the content of the <strong>info window</strong>
                </agm-info-window>
                </agm-marker>
            
        </agm-map>
        </div>
    </div>

